*{
    margin:0;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;;
}
a{
    text-decoration: none;
}
.header{
    z-index: -1;
    background-color: #010101;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #454545   ;

}
.header img{
    margin: 10px;
    width: 8%;
    
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
 
.sticky + .content {
    padding-top: 60px;

}
#menu{
    display: flex;
    border-bottom: solid 1px #454545;
    background-color: rgba(0, 0, 0, 0.19);
}

#item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:20%;
    height: 8vh;
    border-bottom: solid 1px transparent;
}
#item a{
    color:rgba(255, 255, 255, 0.9);
}
#item:hover{
    border-bottom: solid 1px rgba(255, 255, 255, 0.7);;
}
.home{
    background-image:  url( home/queen_home.jpg );
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* SECTION DROPDOWN */

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    width: 200px;
    margin-left: -120%;
    z-index: 1;
    padding: 25px
  }
  
.dropdown-content p {
    color: rgba(255, 255, 255, 0.5);
  
    display: block;
    padding :14px 16px;
    
}
  
.dropdown-content p:hover {
      color: rgb(255, 255, 255)
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  .topten .dropdown {
    position: relative;
    display: inline-block;
}
  
.topten .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    width: 200px;
    margin-left: -170%;
    z-index: 1;
    padding: 25px
  }
  
.topten .dropdown-content p {
    color: rgba(255, 255, 255, 0.5);
    
    display: block;
    padding :14px 16px;
    
}
  
.topten .dropdown-content p:hover {
      color: white;
      
}
  
.topten .dropdown:hover .dropdown-content {
    display: block;
  } 
/* SECTION BIO */

.bio{
    width: 100%;
    height: auto;
    background-color: black;
}
.bio .neg{
    background-image: url(story/queen_bio3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
.bio p{
    display: flex;
    align-items: center;
    color: white;
    font-size: 120px;
}
.item{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.textBox{
    width: 100%;
    height:auto;
    background-color: white;
    border-bottom: solid 2px #454545;
}
.textBox img{
    width: 100%;
}

   
.text{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}

.text p{
    color: #010101;
    font-size: 17px;

}
.par{
    display: flex;
    margin-top: 20px;
} 

.par .img1{
    z-index: -1;
    width: 50%;
    margin: 0;
  
}
.text1 {
    display: flex;
    width: 50%;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
}
.text3{
   width: 50%;
}
.text2{
    padding-left: 20px;
    align-items: center;
    justify-content: center;
}
.members{
    background-image: url(story/queen_bio2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
}
.members p{
    display: flex;
    align-items: center;
    color: white;
    font-size: 100px;
}

/* SECTION FREDDIE */

.freddie{
    background-image: url(members/frediie.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:105vh;
}
.freddie .head{
    padding-top: 200px;
    padding-left: 60px;
    margin: 0;
}
.freddie .head p{
    font-size: 80px;
    color:  rgba(255, 225, 57, 1);
    margin: 0;
}
.freddie .text{
    margin-left: 60px;
    margin-top: 50px;
    width: 40%;
}
.freddie .text p{
    font-size: 17px;
}
.freddie .button{
    
    margin-top: 50px;
    background-color: none;
    border: solid 1px rgba(255, 225, 57, 0.8);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    border-radius: 5px;
}

.freddie .button:hover{
    box-shadow: 0px 0px 15px rgba(255, 225, 57, 0.4);
}
.freddie .button p{
    color: white;
}


/* SECTION BRIAN */

.brian{
    background-image: url(members/brian.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:105vh;
}
.brian .text p{
    font-size: 17px;
}
.brian .baruun{
    width: 45%;
    margin-left: 55%;
   padding-top: 200px;
}

.brian .head p{
    font-size: 80px;
    color:  rgba(44, 143, 255, 1);  
}
.brian .text{
 
    margin-left: 0;
    margin-top: 50px;
    width: 80%;
}
.brian .button p{
    color: white;
    font-size: 16px;
}
.brian .button{
    margin-top: 50px;
    background-color: none;
    border: solid 1px rgba(44, 143, 255, 1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
    transition-duration: 0.3s;
    border-radius: 5px;
}

.brian .button:hover{
    box-shadow: 0px 0px 15px rgba(44, 143, 255, 0.4);
}

/* SECTION JOHN */

.john{
    background-image: url(members/john.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:105vh;
}
.john .head{
    padding-top: 200px;
    padding-left: 60px;
    margin: 0;
}
.john .head p{
    font-size: 80px;
    color:  rgb(255, 161, 160);
    margin: 0;
}
.john .text{
    margin-left: 60px;
    margin-top: 50px;
    width: 40%;
}
.john .text p{
    font-size: 17px;
}
.john .button{
    
    margin-top: 50px;
    background-color: none;
    border: solid 1px  rgba(255, 161, 160,1);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    border-radius: 5px;
}

.john .button:hover{
    box-shadow: 0px 0px 15px rgba(255, 161, 160, 0.4);
}
.john .button p{
    color: white;
}

/* SECTION ROGER */

.roger{
    background-image: url(members/roger4.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:105vh;
}
.roger .text p{
    font-size: 17px;
}
.roger .baruun{
    width: 45%;
    margin-left: 55%;
    padding-top: 200px;
}

.roger .head p{
    font-size: 80px;
    color: rgb(206 115 69);
}
.roger .text{
    margin-left: 0;
    margin-top: 50px;
    width: 80%;
}
.roger .button p{
    color: white;
    font-size: 16px;
}
.roger .button{
    margin-top: 50px;
    background-color: none;
    border: solid 1px rgb(206 115 69);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
    transition-duration: 0.3s;
    border-radius: 5px;
}

.roger .button:hover{
    box-shadow: 0px 0px 15px rgba(206, 115, 69, 0.4);
}

.TopTen{
    background-image:  url( albums/queen3.jpg);
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.TopTen p{
    display: flex;
    align-items: center;
    color: white;
    font-size: 100px;
}

.albums{
    /* background-image:  url( home/freddie2.jpg);
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgba(0, 0, 0, 0.8);
    height: auto;
}
.albums .head{
    display: flex;
    justify-content: center;
}
.albums .head p{
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 60px;
}
.albums .col{
    display: flex;
}
.albums .item{
    margin: 1%;
    width: 18%;
    height: 350px;
    border: solid 1px #e2e8f062;
    box-shadow:
    0 1.4px 2.2px rgba(255, 255, 255, 0.034),
    0 3.2px 5.3px rgba(255, 255, 255, 0.048),
    0 6.5px 10px rgba(255, 255, 255, 0.06),
    0 10.3px 17.9px rgba(255, 255, 255, 0.072),
    0 20.8px 33.4px rgba(255, 255, 255, 0.086),
    0 10px 80px rgba(255, 255, 255, 0.12);
    display: block;
}
.albums .img{
    display: flex;
    justify-content: center;
    height: 260px;
    align-items: center;
}
.albums img{
    width: 200px;
    height: 200px;
    filter: brightness(80%);
    transition: transform 0.2s, filter 0.2s ease-in-out;
    transform-origin: center center;
}
.albums .text{
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.albums .text h4{
    margin-top: -15px;
    font-size: large;
}
.albums .text p{   
    display: inline;
    margin-top: 10px;
    color: white;
    font-size: 1em;
}
.albums img:hover{
    filter: brightness(100%);
    transform: scale(1.02);
}


.songs{
    background-color: rgba(0, 0, 0, 0.8);
    height: auto;
}

.songs .head{
    display: flex;
    justify-content: center;
}
.songs .head p{
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 60px;
}

.songs .main{
    
    align-items: center;
    justify-content: center;
}
.songs .col{
    width: 100%;
    display: flex;
}
.songs .item{
    margin: 1%;
    width: 18%;
    height: 450px;
    border: solid 1px #e2e8f062;
    box-shadow:
    0 1.4px 2.2px rgba(255, 255, 255, 0.034),
    0 3.2px 5.3px rgba(255, 255, 255, 0.048),
    0 6.5px 10px rgba(255, 255, 255, 0.06),
    0 10.3px 17.9px rgba(255, 255, 255, 0.072),
    0 20.8px 33.4px rgba(255, 255, 255, 0.086),
    0 10px 80px rgba(255, 255, 255, 0.12);
    display: block;
}
.songs .col .item .text{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin: 0;
}
.songs .col .item .text p {
    font-size: 17px;
    color: white;
}

.songs .img{
    display: flex;
    justify-content: center;
    height: 260px;
    align-items: center;
}
.songs img{
    margin-left: 10%;
    width: 80%;
    height:80%;
    filter: brightness(80%);
    transition: transform 0.2s, filter 0.2s ease-in-out;
    transform-origin: center center;
}
.songs .audio{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.songs .hoyr{
    opacity: 0.5;
}
.songs img:hover{
    filter: brightness(100%);
    transform: scale(1.02);
}
.movies{
    background-image:  url( movie/bohemian2.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.movies p{
    display: flex;
    align-items: center;
    color: white;
    font-size: 120px;
    margin-top: -20px;
}
.movies .neg{
    background-image:  url(movie/movie1.jpg);
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.movies .text1 {
    margin-top: 10vh;
    display: inline-block;
}
.movies .text{
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.63);
}
.movies .text p
{
    margin: 0;
    font-size: 17px;
}
.movies .video .text {
    display: inline;
}
.movies .video{
    background-color: rgba(0, 0, 0, 0.63);  
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}